<h1><%= @post.title %></h1>
<h4><%= @user.name %></h4>
<p>
  <%= @post.body %>
</p>

<%= link_to "Back", category_path(@post.category)%>
<% if @post.user_id == current_user %>
  <%= link_to "Edit", edit_category_post_path(@post.category, @post) %>
  <%= link_to "Delete", category_post_path(@post.category, @post), method: :delete %>
<% end %>
